<table class="table">
  <tr>
    <th>NOT DEVOURED</th>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/unless}}
    {{/each}}
  </tr>
  <tr>
    <th class="hide-t">DEVOURED</th>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/if}}
    {{/each}}
  </tr>
</table>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="burger_name">
  </div>

  <div class="form-group">
    <input type="radio" name="devoured" value="0" checked><br>
  </div>

  <button type="submit">Add Burger</button>
</form>