<h1>burgers!</h1>

<h2>burgers that are not devoured!</h2>

<ul style="list-style-type:none">
    {{!-- <button class="change-devoured"> --}}
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/unless}}
    {{/each}}
    {{!-- </button> --}}
</ul>



<h2>burgers that are devoured!</h2>

<ul style="list-style-type:none">
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/if}}
    {{/each}}
</ul>